body,
html {
  margin: 1rem auto;
  max-width: 600px;
  
  color: black; 
  box-sizing: border-box;

  /* Parallax background */
  background-image: url('/b3.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 3rem;
  background: white;
  opacity: .7;
}

/* Intro */
.intro{
  opacity: 1; 
  transition: all 500ms; 
  position: fixed; 
  background-color: black; 
  width: 100%;
  z-index: 2; 
  left: 0; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  text-align: center;
  padding-top: 45vh;
}
.text{
  opacity: 1; 
  transition: all 500ms; 
  height: 500px;
}
.displayNone{
  opacity: 0; 

}
/* Links */
a {
  color: black;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}

.container{
  margin: 3rem auto;
  max-width: 600px;
}
/* Hamburger menu*/
.nav{
  position: fixed; 
  display: block; 
  margin: 5px; 
  z-index: 1;
  right: 10px;
  top: 10px; 
}
.nav a {
  margin: 10px; 
  color: white;

}

/* Footer */
.links{
  width: 30px;
  height: auto;
}
.links:hover{
    width: 40px;
    height: auto;
}
footer{
  margin: 20px; 
  padding: 20px;
  display: flex; 
  justify-content: space-around;
  opacity: 0.8;
}

/* Resume */
.resume-container ul {
  padding: 0;
  margin: 0;
}
.resume-container.education {
  margin-top: 2.5rem;
}
.resume-container.education .resume-item {
  margin-top: 1.5rem;
}
.resume-container .resume-item {
  list-style-type: none;
  margin-top: 2.5rem;
}
.resume-container .resume-item:first-child {
  margin-top: 1.6rem;
}
.resume-container .resume-item .role {
  display: block;
  margin-top: .4rem;
}
.resume-container .resume-item .role,
.resume-container .resume-item .timespan {
  color: #464646;
}
.resume-container .resume-item .major {
  display: block;
  margin-top: .5rem;
}

/* Projects */
.projects-section {
  margin-top: 3rem;
}
.projects-section .container {
  margin-top: 1rem;
}

/* Form */
.form,
.form input,
.form textarea {
    width: 100%;
    font-family: 'PT Serif', serif;
    color: grey;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    display: block;
    max-width: 75%;
}

