/* GLOBAL */
body,
html {
  margin: 1rem auto;
  max-width: 600px;
  color: black; 
  box-sizing: border-box;

  /* Parallax background */
  background-image: url('/b3.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 3rem;
  background: white;
  opacity: .6;
}

/* LINKS */
a {
  color: black;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}

.container{
  margin: 3rem auto;
  max-width: 600px;
}
/* NAV */
.nav{
  font-size: 1.2rem;
  position: fixed; 
  display: block; 
  margin: .5rem; 
  padding: .7rem;
  right: 2rem; 
  z-index: 5;
  top: 10px; 
  background: white; 
  opacity: .8; 
}
.nav a {
  margin: 10px; 
  color: black;

}

/* ABOUT */

.me-img{
  width: 50%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

/* FOOTER */
.links{
  width: 30px;
  height: auto;
}
footer a:hover{
  border-bottom: 1px solid #464646;  
  
}
footer{
  margin: 20px; 
  padding: 20px;
  display: flex; 
  justify-content: space-around;
  opacity: 0.8;
}


/* RESUME */
.resume-container ul {
  padding: 0;
  margin: 0;
}
.resume-container.education {
  margin-top: 2.5rem;
}
.resume-container.education .resume-item {
  margin-top: 1.5rem;
}
.resume-container .resume-item {
  list-style-type: none;
  margin-top: 2.5rem;
}
.resume-container .resume-item:first-child {
  margin-top: 1.6rem;
}
.resume-container .resume-item .role {
  display: block;
  margin-top: .4rem;
}
.resume-container .resume-item .role,
.resume-container .resume-item .timespan {
  color: #464646;
}
.resume-container .resume-item .major {
  display: block;
  margin-top: .5rem;
}

/* PROJECT */
.projects-section {
  margin-top: 3rem;
}
.projects-section .container {
  margin-top: 1rem;
}

/* FORM */
.form input,
.form textarea{
  border: 2px solid grey;
}
.form,
.form input,
.form textarea {
    width: 100%;
    font-family: 'PT Serif', serif;
    color: grey;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    display: block;
    max-width: 75%;
}

@media screen and (min-width: 600px){
  .nav{
    font-size: 1.2rem;
    position: fixed; 
    display: block; 
    margin: .5rem; 
    padding: .7rem;
    right: 15rem; 
    z-index: 5;
    top: 10px; 
    background: white; 
    opacity: .8; 
  }
  .nav a {
    margin: 10px; 
    color: black;
  
  }
  .me-img{
    width: 50%; 
    height: auto;
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1; 
  }
}