body,
html {
  margin: 3rem auto;
  max-width: 600px;
  height: 100%;
  color: white; 
  box-sizing: border-box;

  /* Parallax background */
  background-image: url('/b3.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* Links */
a {
  color: white;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: underline;
}

.container{
  margin: 3rem auto;
  max-width: 600px;
}
/* Hamburger menu*/
.nav{
  position: fixed; 
  display: block; 
  margin: 5px; 
  z-index: 1;
  right: 10px;
  top: 10px; 
}
.nav a {
  margin: 10px; 
}

/* Footer */
footer{
  margin: 20px; 
  padding: 20px;
  display: flex; 
  justify-content: space-around;
  opacity: 0.8;
}

/* Form */

.form input,
.form textarea {
    width: 100%;
    font-family: 'PT Serif', serif;
    color: grey;
    border-radius: 5px;
    border: 2px solid grey;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    display: block;
    max-width: 75%;
}

